/* ---- Fuentes -----*/
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+DE+Grund:wght@100..400&display=swap');


/* ---- variables -----*/

:root{
    --Dark-blue: rgb(2, 17, 41);
    --white:  rgb(232, 231, 238);
    --light-blue: rgb(192, 206, 228);
    --otro-blue: #093483;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playwrite DE Grund", cursive;
    text-decoration: none;
    
}

::section{
   
    color: var(--white);
    
}

body{
    height: 450px;
    background: var(--light-blue) ;
}


/* ---ENCABEZADO ---*/
header{

    display: flex;
    justify-content: flex-start;
    margin: 80px 50px 25px 50px;
    gap: 30%;
    
   
}

.logo{

    height: 60px;
    width: 100px;

}
h1{
    margin: 15px ;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.seccion{
    height: 40%;
    display: flex;
    justify-content: center;
    gap: 10px 5px;
    margin: 0;
}
main{
    display: flex;
    justify-content: space-around;
}

/*--- PRIMERA SECCIÓN --*/


.encriptador{
   
    width: 40%;
    margin: 3% 0 0 5%;
    
}

.encriptar{
    margin-left: 50px;
    width: 550px ;
    height: 300px;
    font-size: 28px ;
    line-height: 48px ;
    outline: none;
    padding-left: 20px;
    border-radius: 15px;
    background: var(--Dark-blue);
    color: var(--white) ;
    }
.aviso{
    margin-left: 50px;
}

    
    /*--- SEGUNTA SECCIÓN ---*/

    #muñeco{
    height: 35%;
        position: absolute;
        top: 42%;
        left: 70%;
        z-index: 2;
    }

    .mensaje{
        margin: 3% 0% 5% 0%;
    }

   
    .mensaje-encriptado{
        height: 380px;
        width: 550px;
        border-color: var(--otro-blue);
        border-radius: 15px;
        display: block;
        margin-right: 50px;
        color: var(--Dark-blue);
        font-size:28px ;
        outline: none;
        background: var(--light-blue);
    }
    

   
    .texto {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        height: 100%;
        position: absolute;
        top: 35%;
        left: 60%;
        text-align: center;
        }
        .btn-copiar {
            position: relative;
            justify-content: flex-end;
            margin-top: 20px;
        }


/* -- ESTILO DE LOS BOTONES  */

.contenedor-btn{
    display: flex;
    margin-left: 50px;
    gap: 20px;
}

button {
    background-color: rgb(2, 17, 41);
    color: rgb(232, 231, 238);
    border: 2px solid #093483;
    font-family: "Fira Sans Condensed", sans-serif;
    border-radius: 12px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    width: 250px;
    font-size: 20px;
}

button:hover {
    background-color: var(--otro-blue);
}

/*-----PIE DE PAGINA-----*/

.pie {
    height:100%;
    width: 100%;
    margin-bottom: 0;
    padding: 8px;
    background-color: rgb(232, 231, 238);
    color: rgb(41, 42, 78);
    text-align: center;
}

h4 {
    font-size: 1rem;
    margin: 0.6rem;
}

/* --- RESPONSIVE  --- */

/*-------- TABLET --------- */
@media (max-width: 1024px) {


    main{
        
        height: 100vh;
    }
    
    .encriptador, .mensaje {
        width: 80%;
        margin: 120px 0px 0px 20px;
    }

    .mensaje{
        height: 50px;
    }


    .encriptar, .mensaje-encriptado {
        width: 100%;
        height: 300px;
        font-size: 24px;
    }

    .btn-copiar button {
        width: 200px;
    }
    #muñeco{
        visibility: hidden;
    }
    
    
}

/*---------- TELEFONO ---------*/
@media (max-width: 480px) {
   
    header {
        margin: 20px 0px 0px 20px;
    }

    header .logo {
        height: 40px;
        width: 100px;
    }

    main{
        flex-direction: column;
    }

    .encriptador, .mensaje {
        width: 100%;
        margin: 80px 0px 0px 5px;
    }

    .mensaje{
        height: 60;
    }

    .encriptar, .mensaje-encriptado {
        width: 95%;
        height: 250px;
        font-size: 18px;
        padding-left: 10px;
    }

    #muñeco{
        visibility: hidden;
    }

    .btn-copiar button {
        width: 150px;
        font-size: 18px;
    }

    h4 {
        font-size: 0.7rem;
    }
}